<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LabelCheck</title>
</head>
<body>

    <h1>LabelCheck</h1>
    <h2>Scan Product Label</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="image">
            Select product label image:
        </label>
        <br><br>
        <input type="file" id="image" name="image" accept="image/*" required>
        <br><br>
        <!-- Image Preview -->
        <img id="image-preview" src="#" alt="Selected product label" style="display: none; max-width: 400px; max-height: 400px; ">

        <br><br>

        <button type="submit">
            Scan Label
        </button>
        {% if extracted_text %}
            <h2>Extracted Text</h2>
            <pre>{{ extracted_text }}</pre>
        {% endif %}
        <br><br>
        {% if processed_text %}
            <h2>Processed Text</h2>
            <pre>{{ processed_text }}</pre>
        {% endif %}
    </form>

    <script>

        const imageInput = document.getElementById("image");
        const imagePreview = document.getElementById("image-preview");

        imageInput.addEventListener("change", function () {

            const file = this.files[0];

            if (file) {
                imagePreview.src = URL.createObjectURL(file);
                imagePreview.style.display = "block";
            } else {
                imagePreview.style.display = "none";
            }
        });

    </script>

</body>
</html>